<table class="table table-hover table-striped" *ngIf="(courses$ | async) as courses; else loading">
    <tbody>
        <tr *ngFor="let course of courses">
            <td>{{ course.id }}</td>
            <td>{{ course.name }}</td>
            <td>{{ course.coordinator }}</td>
            <td>
              <span class="float-right">
                <button class="btn btn-outline-warning mb-1 btn-sm" (click)="onEdit(course.id)">
                  Update
                </button>
  
                <button class="btn btn-outline-danger mb-1 btn-sm" (click)="onDelete(course)">
                  Delete
                </button>
              </span>
            </td>
          </tr>
    </tbody>
</table>

<ng-template #loading> 
    <div class="text-center">
        <button class="btn btn-primary" type="button" disabled>
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            Loading...
        </button>
    </div>
</ng-template>

<ng-template #deleteModal>
    <div class="modal-body text-center">
        <p>Are you sure you want to remove this course?</p>
        <button type="button" class="btn btn-default" (click)="onConfirmDelete()">Yes</button>
        <button type="button" class="btn btn-primary" (click)="onDeclineDelete()">No</button>
    </div>
</ng-template>